{{>nav/navbar}}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid" id="home">
        <div class="container">
          <h1 class="display-4">Business Insider News Scraper</h1>
          <p class="lead">Get the articles, save your favs and make some comments.</p>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="articles">
              <ol id="results"></ol>
          </div>
      </div>
</div>
{{>footer/foot}}