<footer class="footer">
    <div class="container">
        <img src="assets/images/BI_Logo2.png" id="logo2" alt="Business Insider expanded Logo">
        <span class="text">
            <p class="foot">Trademarks and brands are the property of their respective owners. © 2018 Cody Sherrod</p></span>
    </div>
</footer>