<nav class="navbar">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/BI_Logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Business Insider Logo">
      Business Insider Web Scraper
    </a>
  </nav>
  <br>